* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F6F7;
    font: 20px monospace;
}

marquee {
    color: black;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    cursor: url(NIXONG.png), pointer;
}

button:focus {
    outline: none;
    cursor: url(NIXONG.png), pointer;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
    cursor: url(NIXONG.png), pointer;
}

.r-header {
    margin: 1em;
}

.o-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 100%, 1fr, 100%, 1fr;
    grid-template-columns: repeat(4, 1fr);
    cursor: url(NIXONG.png), pointer;
}

#a-btn {
    background-color: lightblue;
}

#b-btn {
    background-color: coral;
}

#c-btn {
    background-color: whitesmoke;
}

.c-container {
    width: 60%;
}

* {
    cursor: url(NIXONG.png), pointer;
}

body {
    background-image: url('america.jpg');
    background-size: cover;
    background-position: 30px -150px;
    cursor: url(NIXONG.png), pointer;
}

button {
    cursor: url(NIXONG.png), pointer;
}

div.o-container {
    cursor: url(NIXONG.png), pointer;
}

video {
    width: 560px;
    height: 250px;
}

#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    z-index: 1001;
}

#popup {
    width: 555px;
    height: 375px;
    background: #FFFFFF;
    border: 5px solid #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    top: 150px;
    left: 375px;
}